* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
.conatiner {
    border-radius: 32px;
    background-image: url(../img/c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    max-width: 100%;
    border-radius:32px;
    height: 812px;
    color: crimson;
    font-weight: bold;
    padding-top: 250px;
}
.content {
    padding: 20px;
    text-align: center;
    height: 340px;
}
.quote {
    font-size: 26px;
    line-height: 1.3;
}
.author {
    color: #cf346f;
}
a {
    display: inline-block;
    width: 120px;
    padding: 10px;
    color: #051249;
    text-decoration: none;
    background-color: #eda6c1;
    position: relative;
    margin: 20px;
}
a:before,
a:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: inherit;
    transition: .3s;
}
a:before {
    left:0;
    top:-5px
}
a:after {
    right:0;
    bottom:-5px
}
a:hover:before ,
a:hover:after {
    width:100%
}
footer {
    background-color: crimson;
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    height: 60px;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 90%;
}
footer div span {
    font-size: 22px;
}
footer div p {
    font-size: 12px;
    font-family:Tahoma ,Helvetica, sans-serif;
}

@media(min-width:1200px){
    .conatiner {
        width: 60%;
        margin: auto;
    }
    footer {
        width: 56%;
        left: 22%;
        top: 90%;
    }
}
